[Unit]
Description=Ambient Light Sensor Service

[Service]
ExecStart=/usr/local/bin/acpi-als-daemon
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
